DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# External SQL
# Supported: postgres, mysql
DB_DIALECT=postgres
DB_HOST=
DB_PORT=5432
DB_NAME=cerberus
DB_USER=
DB_PASSWORD=
DB_SSL=false

LOG_LEVEL=info
